* {
  box-sizing: border-box;
}

body {
  background-image: url(/img/PHOTO-2019-05-15-17-38-57-3.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #ddd;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-size: 12px;
  line-height: 20px;
}

form {
  background-color: rgba(51, 51, 51, 0.627);
  border: 1px solid rgb(63, 63, 63);
  width: 500px;
  margin: auto;
  margin-top: 30px;
}

h1 {
  margin-bottom: 0;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}

input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #414141;
  margin-bottom: 25px;
}

button {
  font-weight: 600;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: auto;
  margin-bottom: 40px;
  border: none;
  cursor: pointer;
  width: 100px;
  opacity: 0.9;
  border-radius: 5px;
}

button:hover {
  opacity: 1;
}

.signupbtn {
  float: left;
  width: 50%;
}

.checkbox {
  margin-bottom: 15px;
}

.container {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 800px) {
  .form {
    width: 80%;
    padding: 16px;
  }
}
